@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'monogram';
    src: url('/fonts/monogram-extended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-sky-1: #228ac9;
    --color-sky-2: #299fcd;
    --color-sky-3: #69cef0;
    --color-sky-4: #cdeaf2;
    --color-grass: #c7e553;
    --color-grass-bright: #fbee26;
    
    --font-sans: 'monogram', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bg-scanlines {
    --scanlines-size: 4px;
    background-image:
        linear-gradient(to bottom, #003f10 var(--scanlines-size), transparent var(--scanlines-size)),
        linear-gradient(#003817, #003817);
    background-size: 100% calc(var(--scanlines-size) * 2), 100% 100%;
    background-repeat: repeat-y, no-repeat;
}
.bg-scanlines-dark {
    --scanlines-size: 4px;
    background-image:
        linear-gradient(to bottom, #374040 var(--scanlines-size), transparent var(--scanlines-size)),
        linear-gradient(#3c4646, #3c4646);
    background-size: 100% calc(var(--scanlines-size) * 2), 100% 100%;
    background-repeat: repeat-y, no-repeat;
}

.border-monitor {
    border-image-source: url(/monitor-frame.png);
    border-image-slice: 5 4 4 4;
    border-image-width: 20px 16px 16px 16px;
    border-image-outset: 20px 16px 16px 16px;
    border-image-repeat: fill;
    border-style: solid;
}